.calculator {
    border: 1px solid #000;
    padding: 20px;
    margin: auto;
    max-width: 300px;
}

.display {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px 0;
}

#displayOperations {
    margin: 0 0 10px;
    font-size: 16px;
    text-align: right;
}

#displayNumber {
    text-align: right;
    font-size: 20px;
}

.buttons { 
    display: flex;
    justify-content: center;
}

.numbers {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
}

.numbers button {
    flex: 0 0 33.33%;
}

.operators {
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px;
}
